<footer class="footer">
    <div class="content has-text-centered">
        <h1 class="title">
            <strong>CV LIB</strong>
        </h1>
        <div class="columns">
            <div class="column">
                <aside class="menu">
                    <p class="menu-label">
                        Quick Links
                    </p>
                    <ul class="menu-list is-unstyled" style="">
                        <li><a href="/about"><span
                                        style="text-decoration: line-through; font-size: small">among </span>About
                                Us</a>
                        </li>
                        <li><a href="mailto: contacts@email.com">Contact Us</a></li>
                    </ul>
                </aside>
            </div>
            <div class="column">
                Something Else Here
            </div>
        </div>
        <p>Copyright &copy; <%= new Date().getFullYear() %> CV Lib</p>
    </div>
</footer>