<section class="block">
    <div class="hero is-success">
        <div class="hero-body">
            <div class="container">
                <h2 class="title">Error </h2>
            </div>
        </div>
    </div>
</section>

<h1 class="title">
    <%= msg %>
</h1>