<h2 class="title">
    CV Library </h2>

<div class="">
    <form class="" action="filter" method="POST">
        <input type="text" name="job" placeholder="Job title">
        <input type="text" name="strenghts" placeholder="Your strenghts">
        <input type="submit" value="Search">
    </form>
</div>

<ul>
    <% for (el of list) { %>
        <li>

            <a href="/posts/<%=el.id%>">

                <div class=" ">
                    <h1>
                        <%= el.title %>
                    </h1>
                    <p>
                        <%= el.job %>
                    </p>
                    <%- el.strenghts %>
                </div>
            </a>
        </li>

        <% } %>
</ul>