<div class="container">
    <h1 class="title">Login Form</h1>
    <form class="" action="auth" method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit">
    </form>
</div>