<section class="block">
    <div class="hero is-success">
        <div class="hero-body">
            <div class="container">
                <h2 class="title">CV Post</h2>
            </div>
        </div>
    </div>
</section>


<section class="block">
    <div class="container">

        <h1>
            <%= cv.jobTitle %>
        </h1>
        <% cv.cvFile %>
            <div style="display: 'none'">
                <iframe src="<% cv.cvFile %>" />
            </div>
    </div>
</section>