<section class="block">
    <div class="hero is-success">
        <div class="hero-body">
            <div class="container">
                <h2 class="title">CV Post</h2>
            </div>
        </div>
    </div>
</section>


<section class="block">
    <div class="container">
        <div>

            <h1>
                <%= cv.jobTitle %>
            </h1>

            <!-- <iframe src="<% cv.cvFile %>">
        </iframe> -->
            <embed src="/static/cv.pdf" width="60%" height="600" type="application/pdf">
        </div>
    </div>
</section>