<section class="block">
    <div class="hero is-success">
        <div class="hero-body">
            <div class="container">
                <h2 class="title">Register</h2>
            </div>
        </div>
    </div>
</section>

<section class="block">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-8-tablet is-8-desktop is-6-widescreen">

                <form action="register" class="box" method="post">
                    <div class="field is-horizontal">

                        <% if (locals.msg ) { %>
                            <div class="notification is-danger is-light">
                                <div>
                                    <p>
                                        <%= msg %>
                                    </p>
                                </div>
                            </div>
                            <% } %>

                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label" for="emailTextInput">Email</label>
                        </div>


                        <div class="field-body">

                            <div class="field">
                                <p class="control">
                                    <input class="input" id="emailTextInput" name="email" placeholder="example@example.com" type="email">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label" for="passwordTextInput">Password</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input class="input" id="passwordTextInput" name="password" placeholder="********" type="password">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label" for="firstNameTextInput">First Name</label>
                        </div>


                        <div class="field-body">

                            <div class="field">
                                <p class="control">
                                    <input class="input" id="fisrtNameTextInput" name="firstName" placeholder="John" type="name">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label" for="lastNameTextInput">Last Name</label>
                        </div>


                        <div class="field-body">

                            <div class="field">
                                <p class="control">
                                    <input class="input" id="lastNameTextInput" name="lastName" placeholder="Doe" type="name">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label" for="dateOfBirthTextInput">Date of Birth</label>
                        </div>


                        <div class="field-body">

                            <div class="field">
                                <p class="control">
                                    <input class="input" id="dateOfBirthTextInput" name="dateOfBirth" placeholder="01/01/01" type="date">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Gender</label>
                        </div>
                        <div class="field-body">

                            <div class="field">
                                <div class="control">
                                    <label class="radio">
                              <input type="radio" name="answer">
                              Female
                            </label>
                                    <label class="radio">
                              <input type="radio" name="answer">
                              Male
                            </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label" for="dateOfBirthTextInput">Education</label>
                        </div>


                        <div class="field-body">

                            <div class="field">
                                <p class="control">
                                    <input class="input" id="dateOfBirthTextInput" name="dateOfBirth" placeholder="01/01/01" type="date">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label" for="dateOfBirthTextInput">Date of Birth</label>
                        </div>


                        <div class="field-body">

                            <div class="field">
                                <p class="control">
                                    <input class="input" id="dateOfBirthTextInput" name="dateOfBirth" placeholder="01/01/01" type="date">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <button class="button is-success">
                            Register
                        </button>

                </form>
                </div>
            </div>
        </div>
</section>