<section class="block">
    <div class="hero is-success">
        <div class="hero-body">
            <div class="container">
                <h2 class="title">Profile</h2>
            </div>
        </div>
    </div>
</section>


<section class="block">
    <div class="container">
        <h1>
            Hello,
            <%= email.split("@")[0] %>
        </h1>
    </div>


</section>